@import url('./main-layout.css');
@import url('./views/credit-card-form-view.css');
@import url('./views/checkout-form-view.css');
@import url('./views/image-list-view.css');
@import url('./views/chat-view.css');
@import url('./views/address-form-view.css');
@import url('./views/person-form-view.css');
@import url('./views/card-list-view.css');
@import url('./views/gridwith-filters-view.css');
@import url('@fontsource/inter/index.css');    html {
      --lumo-line-height-m: 1.4;
      --lumo-line-height-s: 1.2;
      --lumo-line-height-xs: 1.1;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
--lumo-font-family: Inter;

    }

    [theme~="dark"] {

    }
